/*
CssBox equivalencias:
O primeiro não funciona no cssBox, o segundo é sua equivalencia que funciona.
"border-collapse: collapse" = "border-spacing: 0px";
*/
body
{
    font-family: "Open Sans";
    font-size: 14.2pt;
    line-height: 100%;
    margin: 0px;    
    padding: 0px;
    color: #333;
    margin: 0;
}

h1, h2
{
    font-family: "Tahoma";
    font-size: 20pt;
    color: #fefefe;
    margin-bottom: 0px;
    background-color: #4183D7;
    padding: 5px;
    padding-left: 8px;
}

h2
{
    font-size: 11pt;
}

p
{
    margin: 20px;
}

div.codigo-portugol
{
    margin: 20px;
    border: 1px solid rgb(202, 198, 179);
    background-color: #E7E5DC;
}   

div.cabecalho-codigo-portugol
{
    color: rgb(40, 103, 130);
    border-bottom: 1px solid rgb(202, 198, 179);
    padding: 10px;    
}

div.cabecalho-codigo-portugol a
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

div.cabecalho-codigo-portugol a:hover
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

div.cabecalho-codigo-portugol a:visited
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

a
{
    color: rgb(40, 103, 130);
    font-weight: normal;
    text-decoration: none;
}

img
{    
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.cadeia 
{
    color: orange;
}

.caracter 
{
    color: red;
}

.inteiro 
{
    color: blueviolet;
}

.real 
{
    color: blue;
}

.logico 
{
    color: fuchsia;
}

.tipo 
{
    color: green;
    font-weight: bold;
}

.palavra-reservada 
{
    color: rgb(70, 103, 130);
    font-weight: bold;
}

.operador 
{
    color: brown;
}

hr
{
    height: 3px;
    background: #333;
    color: #333;
}
.imagem
{
    text-align: center;
}

.botao-codigo-fonte-container{
	overflow: scroll;
}

.botao-codigo-fonte{
	overflow: scroll;
}

.codigo-fonte{
	overflow: scroll;
    margin: 20px;
	white-space: pre-wrap;
}

//INICIO CSS gerado pelo PortugolHTMLHighlighter.java

.porPalavraReservada //Exemplo: const caso se senao...
{
    color: rgb(70, 103, 130);
    font-weight: bold;
}

.porTipoDeclaracao //Exemplo: inteiro real cadeia...
{

}

.porAgrupamentos //Exemplo: () {} []
{

}

.porNumeros //Exemplo: 5 4.52...
{
    
}

.porLogico //Exemplo: VERDADEIRO FALSO
{
    
}

.porTexto //Exemplo: "Olá mundo"...
{
    
}

.porID //Exemplo: nomeVariavel nomeFuncao...
{
    
}

.porComentario //Exemplo: //Isso é um comentário...
{
    
}

.porDesconhecido //Tudo que não for espaço, pulo de linha, tab e não tenha sido reconhecido anteriormente.
{
    
}

//FIM CSS gerado pelo PortugolHTMLHighlighter.java